.container {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap:32px;
}
.cardContainer {
  padding: 4px;
  display: flex;
  flex-wrap: wrap; /* Makes the cards responsive */
  gap: 40px; /* Adjust gap between cards as needed */
}
